<ion-view ng-controller="tabStyle">
  <!-- cabecera de la apicacion con las vistas y submenu -->
  <ion-header-bar class="bar-stable">
    <div id="cabeza">
      <i id="iconMenu" class="waves-effect waves-light material-icons" onclick="muestraMenu();">menu</i>
      <h1 class="title">PossiBall</h1>
      <i id="iconLupa" class="waves-effect waves-light material-icons">search</i>
      <i id="iconNoti" class="waves-effect waves-light material-icons">notifications</i>
      <i id="iconMore" class="waves-effect waves-light material-icons" onclick="dropMenu();">more_vert</i>
      <!-- Submenu desplegable -->
      <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#">one</a></li>
        <li><a href="#">two</a></li>
        <li><a href="#">three</a></li>
      </ul>
      <div id="bloque" onclick="ocultaSubMenu();"></div>
    </div>
    <div id="subCabeza">
      <div class="col s12">
        <ul class="tabs">
          <li class="waves-effect waves-light tab col s3"><button type="button" name="tab" ng-click="eventos();activa();">Inicio</button></li>
          <li class="waves-effect waves-light tab col s3"><button type="button" name="tab" ng-click="partidos();activa();">Partidos</button></li>
          <li class="waves-effect waves-light tab col s3"><button type="button" name="tab" ng-click="busqueda();activa();">Buscar</button></li>
          <div id="subTab"></div>
        </ul>
      </div>
    </div>
  </ion-header-bar>
  <!-- final de la cabecera -->

  <!-- contenedores deslizantes de las vistas principales de la aplicacion -->
  <ion-slide-box onclick="ocultaMenu();" active-slide="currentIndex" on-slide-changed="slideChanged()">
    <ion-slide>
      <ul class="collection">
        <li class="collection-item avatar waves-effect waves-light">
          <img src="img/fondo.jpg" alt="" class="circle">
          <span class="title">Title</span>
          <p>First Line</p>
        </li>
      </ul>
    </ion-slide>

    <ion-slide>
      <div class="row cardPartido">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image waves-effect waves-light">
              <img src="img/santiago.jpg">
              <a class="btn-floating waves-effect waves-light"><i class="material-icons">person_add</i></a>
            </div>
            <div class="card-content">
              <span class="card-title">Santiago Bernabeu</span>
              <div><i class="material-icons left">location_on</i><p>Estadio Santiago Bernabéu, Avenida de Concha Espina, Madrid</p></div>
              <div class="modalidad"><i class="material-icons left">group_work</i><p>Fútbol 11</p></div>
            </div>
            <div class="card-action">
              <a href="#">ver en mapa</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row cardPartido">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image waves-effect waves-light">
              <img src="img/campnou.jpeg">
              <a class="btn-floating waves-effect waves-light"><i class="material-icons">person_add</i></a>
            </div>
            <div class="card-content">
              <span class="card-title">Santiago Bernabeu</span>
              <div><i class="material-icons left">location_on</i><p>Camp Nou, Calle Aristides Maillol, Barcelona</p></div>
              <div class="modalidad"><i class="material-icons left">group_work</i><p>Fútbol 11</p></div>
            </div>
            <div class="card-action">
              <a href="#">ver en mapa</a>
            </div>
          </div>
        </div>
      </div>
    </ion-slide>

    <ion-slide>

    </ion-slide>
  </ion-slide-box>
  <!-- final de los contenedores -->
</ion-view>
