<ion-view ng-controller="ocultaMenuVista">
  <ion-header-bar id="barraPerfil" class="bar-stable" ng-controller="vueltAtras">
    <div id="cabeza" class="edit">
      <a onclick="cambioBtn(0);" ui-sref="perfil" nav-transition="android"><i id="iconMenu" class="waves-effect waves-light material-icons">close</i></a>
      <h2>Editar Perfil</h2>
      <i id="iconMore" class="waves-effect waves-light material-icons" onclick="validateEdit();">check</i>
    </div>

  <!-- popup para cargar los contenidos -->
  <div id="popUp">
    <div>
      <span id="titlePopUp"></span>
      <ul class="collection" id="deportesColeccion"></ul>
      <button type="button" class="waves-effect waves-teal btn-flat" id="updateSport" name="button">aceptar</button>
    </div>
  </div>
  <div id="membrana" onclick="cierraPop();"></div>
  <!-- fin del popup para cargar los contenidos -->

  <ionic-content id="perfilEditar" ng-controller="geolocation">
    <div class="actionPerfil" ng-controller="PictureCtrl">
      <div id="avatarEdit">
        <a class="mini-floating waves-effect waves-light"><i class="material-icons">file_upload</i></a>
        <a class="mini-floating waves-effect waves-light" ng-click="tomaFoto()"><i class="material-icons">linked_camera</i></a>
        <i class="waves-effect waves-teal material-icons" onclick="opcionesFoto();">photo_camera</i>
      </div>
      <img id="miAvatar" src="" alt="">
      <span class="waves-effect waves-light">
        <i class="material-icons">photo_camera</i> Cambiar fondo
      </span>
    </div>
    <div class="datosEdit">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input id="nomEdit" type="text" class="validate">
              <label for="nomEdit" class="active">Nombre Usuario</label>
            </div>
            <div class="input-field col s6">
              <input id="nickEdit" type="text" class="validate">
              <label for="nickEdit" class="active">Apodo</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="nacEdit" type="date" class="validate">
              <label for="nacEdit" class="active">Fecha Nacimiento</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="locaEdit" type="text" class="validate">
              <label for="locaEdit" class="active">Ubicación</label>
              <button type="button" class="waves-effect waves-ligth btn" ng-click="localizame();" name="button">localizar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ionic-content>
</ion-view>
