<ion-view ng-controller="ocultaMenuVista">
  <ion-header-bar id="barraPerfil" class="bar-stable">
    <div id="cabeza">
      <a nav-direction="forward" nav-transition="android" href="#"><i id="iconMenu" class="material-icons">arrow_back</i></a>
      <i id="iconNoti" class="material-icons">notifications</i>
      <i id="iconMore" class="material-icons">more_vert</i>
    </div>
  </ion-header-bar>

  <ionic-content id="perfilContenido" onclick="ocultaMenu();">
    <img onload="ocultaMenu();" class="responsive-img" src="img/fondo.jpg">
    <p id="perfilContent" style="color:#000;"></p>
    <button class="btn waves-effect waves-light" type="submit" onclick="cargaPerfil();" name="action">Cargar</button>
  </ionic-content>
</ion-view>
